<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>

</head>
<body>
    <div class="main">
        <div class="background">
            <div class="functionalities">
                <div class="functionalities_block">
                    <!-- SOme thinngs  -->
                    <div onclick="handleStartCall()" class="functionality_button" id="room-btn">
                        <i class="fas fa-phone"></i>
                        <span>Start Call</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
    <!-- <script> 
        const handleStartCall = () => {
            // const link = Math.random().toString(36).slice(2,12)
            // window.location=`http://localhost:3000/${link}`
            console.log("thh asdasda sdklansd jka");
        
        }
    </script> -->

</body>
</html>