<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/socket.io/socket.io.js" ></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

    <title>Home</title>

</head>
<body>
    
    SOme thinngs 
    <button onclick="handleStartCall()" id="room-btn">
        Start Call
    </button>


    <script src="script.js"></script>
    <!-- <script> 
        const handleStartCall = () => {
            // const link = Math.random().toString(36).slice(2,12)
            // window.location=`http://localhost:3000/${link}`
            console.log("thh asdasda sdklansd jka");
        
        }
    </script> -->

</body>
</html>